.container {
  color: white;
  max-width: 600px;
  table {
    background-color: #7e29ff;
    td, th, a {
      color: white;
    }
  }
}
.title {
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 36px;
  max-width: 500px;
  color: #fff;
}
